* {
    /*-fx-color: #dedede;*/
    -fx-background: #fafafa;
    -fx-font-family: "Apple Braille";
}

#rootBorderPane {
    -fx-background-color: white;
}

#rootMenuBar {
    -fx-background-color: aliceblue;
}

#rootMenuButton:hover {
    -fx-background-color: #c9e0e9;
    -fx-outline-color: black;
}

#rootMenuItem {
    -fx-background-color: #c7dfea;
    -fx-text-fill: black;
}

#rootMenuItem:hover {
    -fx-background-color: #dce9ef;
}

#rootMenuItem .label {
    -fx-text-fill: black;
}

#rootMenuItem:hover .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #c9e0e9;
}

#mainLeftAnchor, #mainRightAnchor {
    -fx-background-color: #f7fbff;
}

#mainListTable {
    -fx-background-color: #f7fbff;
}

.mainListColumn {
    -fx-background-color: #f7fbff;
    -fx-padding: 4px;
    -fx-border-width: 0.1px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.mainListColumn:hover {
    -fx-background-color: #eaeef1;
    -fx-border-color: #7bd7fc;
    -fx-border-width: 1px;
}

/* MAKE A SELECTED ROW IN LIST VISIBLE */

#mainPersonTable {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-width: 0.1px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 15px;
}

.mainButton {
    -fx-content-display: inline-block;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}


#mainButtonNew, #mainButtonEdit, mainButtonDelete{ }



.menu-button:hover {
    /*-fx-color: rgba(255, 255, 255, 0.9);*/
    /*-fx-background-color: rgb(239, 239, 239);*/
    /*-fx-box-shadow: 0 0 5px rgb(255, 255, 255);*/

    /*-fx-background-insets: 0 0 -1 0, 0, 1, 2;*/
    /*-fx-background-radius: 3px, 3px, 2px, 1px;*/
    /*-fx-text-fill: -fx-text-base-color;*/
}

#personEditAnchorPane{
    -fx-background-color: #f7fbff;
}